PORT=3002
DATABASE_URL="postgresql://user:password@localhost:5432/node_postg_db?schema=public"
JWT_SECRET="your-very-secure-jwt-secret"
JWT_EXPIRY="1d"
LOG_LEVEL="debug"
NODE_ENV="development"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
